$bg-color: #fafafa;
$wrapper-color: #333;
$primary-color: #ffcc00;
$secondary-color: rgb(220,87,99);	
$white: #fff;
$gray: #999;
$text: #444;

html, body {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  background-color: $wrapper-color;

  .wrapper {
    background-color: $bg-color;
    padding: 30px;
  }

  .grid {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .left-header {
      display: flex;
      justify-content: flex-start;
    }
    .right-header {
      display: flex;
      justify-content: flex-end;

      a {
        color: $primary-color;
      }
    }

    a {
      font-size: 1.8rem;
      padding: 20px;
    }
  }

  .movies {
    .load-more {
      width: 100%;
      background: #eee;
      color: #999;
      text-align: center;
      border-radius: 3px;
      border: 1px solid #999;
      padding: 10px;
      text-transform: uppercase;
      margin-top: 20px;
    }
  }

  .movie-card {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    .poster {
      height: 350px;
      width: auto;
      img {
        height: 350px;
      }
    }
    .metas {
      .data {
        color: $gray;
        padding-bottom: 20px;
        .icon {
          color: $primary-color;
        }
      }
      .description {
        line-height: 1.5em;
        color: $text;
      }
      button {
        outline: none;
        &:hover {
          cursor: pointer;
        }
        &.favorite {
          margin-top: 10px;
          border-radius: 6px;
          padding: 10px 20px;
          font-size: 1.2rem;
          border: none;
          color: $white; 
          &.add { 
            background-color: $primary-color;
          }
          &.remove { 
            background-color: $secondary-color;       
          }
        }
      }
    }
  }

  .poster {
    width: 25%;
    display: flex;
    align-content: center;
    padding: 20px;
    box-sizing: border-box;

    a {
      width: 100%;
    
      .movie-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        .overlay {
          width: 200px;
          height: 310px;
          border-radius: 4px;
          background-size: cover;
          background-position: center;

          .metas {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            opacity: 0;
            box-sizing: border-box;
            padding: 10px;
            justify-content: space-between;
            &:hover {
              opacity: 1;
              background: rgba(0,0,0,.4);
              color: $white;

              .icon {
                color: $primary-color;
              }
            }
            
          }
        }
        .title {
          padding-top: 10px;
          width: 150px;
        }
      }
    }

  }
  
}

@media (max-width: 768px) {
  .app {
    .header {
      flex-direction: column;

      a {
        padding: 0px;
      }

      .right-header {
        justify-content: flex-start;
        padding-top: 10px;
        a {
          font-size: 1.2em;
          padding-right: 15px;
        }
      }
    }

    .poster { 
      width: 100%;
    }

    .movie-card {
      flex-direction: column;
      .poster {
        padding-left: 0px;
        display: flex;
        align-content: center;
        justify-items: center;
      }
      .metas {
        padding-top: 20px;
      }
    }
  }
}